* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 768px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  position: relative;
}
header .logo {
  width: 45%;
  padding: 15px 0;
}

main img {
  width: 100%;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
main .choixplats {
  background: #f5f5f5;
  border-radius: 25px 25px 0 0;
  margin-top: -70px;
  position: relative;
}
main .titrepagemenu {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}
main .allplats {
  margin: 0 10px;
}
main .allplats .plats {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0px 0px 5px lightgray;
}
main .allplats .plats h5 {
  font-size: 16px;
}
main .allplats .plats p {
  font-size: 14px;
}
main .commander {
  padding: 40px 0;
  text-align: center;
}
main .commander a {
  width: 100%;
  font-size: 14px;
  color: #faf8f8;
  padding: 12px 23px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 25px;
}

section {
  text-align: center;
}
section .localisation {
  background: #f3f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 15px;
  font-weight: bold;
  font-size: 16px;
}
section .description {
  background-color: #fafafa;
  padding: 25px 0 35px 0;
  font-size: 20px;
}
section .description .firstdesc {
  margin-bottom: 10px;
}
section .description .secdesc {
  margin-bottom: 20px;
  font-size: 16px;
}
section a {
  width: 100%;
  font-size: 14px;
  color: #faf8f8;
  padding: 12px 23px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 25px;
}

nav {
  margin-left: 15px;
}
nav h1 {
  margin: 30px 0;
}
nav li {
  display: flex;
  align-items: center;
  gap: 5%;
  flex-basis: 100%;
  margin: 15px;
  height: 70px;
  background-color: #fafafa;
  font-size: 14px;
  border-radius: 25px;
}
nav li .numero {
  height: 25px;
  width: 25px;
  min-width: 25px;
  background: #9356DC;
  border-radius: 25px;
  margin-left: -12px;
}
nav li .numero p {
  width: 100%;
  text-align: center;
  padding-top: 4px;
  color: #fafafa;
}

article {
  background: #fafafa;
  margin-top: 40px;
}
article h1 {
  padding: 30px 0 10px 15px;
}

.allmenu {
  padding: 0 15px 30px;
}

.menu {
  height: 250px;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px rgb(167, 165, 165);
}
.menu img {
  width: 100%;
  height: 180px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.menu_desc {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

footer {
  padding: 15px 0 25px 0;
  background: #4b4b4b;
}
footer h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
footer .infofooter {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  color: white;
  gap: 5px;
}
footer i {
  margin-right: 15px;
  width: 10px;
}

/*# sourceMappingURL=style.css.map */
