* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 768px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.commander {
  padding: 40px 0px;
  text-align: center;
}
.commander a {
  width: 100%;
  font-size: 14px;
  color: #faf8f8;
  padding: 12px 35px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 25px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
  background: white;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: violet;
  gap: 30px;
  animation: fadeout 3s;
  opacity: 0;
}
.preloader .loader {
  position: relative;
  width: 35px;
  height: 35px;
}
.preloader .loader::before {
  content: "";
  position: absolute;
  border: 4px solid violet;
  border-color: violet transparent violet transparent;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: loader 1.2s infinite ease-in-out;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
    z-index: 999;
  }
  100% {
    transform: rotate(360deg);
    z-index: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
    z-index: 999;
  }
  90% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
header {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  position: relative;
}
header .logo {
  display: block;
  margin: auto;
  width: 150px;
  padding: 15px 0;
}
header .backarrow {
  padding: 15px;
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  text-align: center;
}
header i {
  position: absolute;
  left: 15px;
  top: 21px;
}

nav {
  margin-left: 15px;
}
nav h1 {
  margin: 30px 0;
}
nav li {
  display: flex;
  align-items: center;
  gap: 5%;
  flex-basis: 100%;
  margin: 15px;
  height: 70px;
  background-color: #fafafa;
  font-size: 14px;
  border-radius: 25px;
  box-shadow: 0px 3px 6px rgb(167, 165, 165);
}
nav li.carterose {
  background: #f5edff;
}
nav li .iconegray {
  color: gray;
}
nav li .iconeviolet {
  color: #9356DC;
}
nav li .numero {
  height: 25px;
  width: 25px;
  min-width: 25px;
  background: #9356DC;
  border-radius: 25px;
  margin-left: -12px;
}
nav li .numero p {
  width: 100%;
  text-align: center;
  padding-top: 4px;
  color: #fafafa;
}

section {
  text-align: center;
}
section .localisation {
  background: #f3f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 15px;
  font-weight: bold;
  font-size: 16px;
}
section .description {
  background-color: #fafafa;
  padding: 25px 0 35px 0;
  font-size: 20px;
}
section .description .firstdesc {
  margin-bottom: 10px;
}
section .description .secdesc {
  margin-bottom: 20px;
  font-size: 16px;
}
section a {
  width: 100%;
  font-size: 14px;
  color: #faf8f8;
  padding: 12px 23px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 25px;
}

footer {
  padding: 15px 0 25px 0;
  background: #4b4b4b;
}
footer h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
footer .infofooter {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  color: white;
  gap: 5px;
}
footer i {
  margin-right: 15px;
  width: 10px;
}

article {
  background: #fafafa;
  margin-top: 40px;
}
article h1 {
  padding: 30px 0 10px 15px;
}

.allmenu {
  padding: 0 15px 30px;
}

.menu {
  display: block;
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px rgb(167, 165, 165);
}
.menu .nouveau {
  background: #a9e0d1;
  color: #3b8468;
  position: absolute;
  padding: 6px 12px;
  border-radius: 2px;
  right: 15px;
  top: 15px;
}
.menu img {
  width: 100%;
  height: 180px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.menu_desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.menu .heartmenu {
  font-size: 21px;
  position: absolute;
  right: 40px;
  bottom: 45px;
}
.menu .fa-regular {
  cursor: pointer;
  position: absolute;
  background: transparent;
}
.menu .fa-solid {
  cursor: pointer;
  position: absolute;
  -webkit-text-fill-color: transparent;
}
.menu .heartmenu:hover {
  cursor: pointer;
}
.menu .fa-solid:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .fa-solid:active {
  cursor: pointer;
  background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  z-index: 1000;
}
main img {
  width: 100%;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
main .choixplats {
  background: #f5f5f5;
  border-radius: 25px 25px 0 0;
  margin-top: -70px;
  position: relative;
}
main .titrepagemenu {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
  font-family: "Shrikhand", sans-serif;
}
main .heartpage {
  cursor: pointer;
  font-size: 21px;
  right: 18px;
  bottom: 8px;
  position: relative;
}
main .likemenu {
  cursor: pointer;
  position: absolute;
  background: transparent;
}
main .likemenu2 {
  cursor: pointer;
  position: absolute;
  -webkit-text-fill-color: transparent;
}
main .likemenu2:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .likemenu2:active {
  cursor: pointer;
  background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main .allplats {
  margin: 0 10px;
}
main .allplats .barreverte {
  margin: 5px 0;
  width: 35px;
  height: 4px;
  background-color: #99E2D0;
}
@keyframes fadein {
  0% {
    top: 45px;
    opacity: 0;
  }
  70% {
    top: 0px;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
main .allplats .delay1 {
  animation: fadein 1s;
  animation-delay: 0.1s;
}
main .allplats .delay2 {
  animation: fadein 1s;
  animation-delay: 0.2s;
}
main .allplats .delay3 {
  animation: fadein 1s;
  animation-delay: 0.3s;
}
main .allplats .plats {
  margin: 10px 0;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 5px lightgray;
}
main .allplats .plats_nom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px 10px;
  width: 100%;
}
main .allplats h5 {
  font-size: 16px;
}
main .allplats p {
  font-size: 14px;
}
main .allplats .validationplat {
  display: flex;
  justify-content: center;
  align-self: stretch;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  width: 0;
}
main .allplats .fa-solid {
  align-self: center;
  color: #99E2D0;
  padding: 3px;
  background: white;
  border-radius: 25px;
}
main .allplats .plats:hover .validationplat {
  width: 12%;
  animation: slide 1s ease-in;
}
main .allplats .plats:focus .validationplat {
  width: 10%;
  animation: slide 3s ease-in;
}

/*# sourceMappingURL=style.css.map */
