main{ 
    img{
        width: 100%;  
        max-width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .choixplats{
        background: #f5f5f5;
        border-radius: 25px 25px 0 0;
        margin-top: -70px;
        position: relative;      
    }
    .titrepagemenu{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px 20px 10px;
        font-family: $logotitre-font; 
    } 
        .likemenu{
            left: 19px;
        }
        .likemenu2{
            color: transparent;
        }
        .likemenu:hover{
            display: none; 
        }
        .likemenu2:hover{
            cursor: pointer;
            position: relative;
            font-size : 16px;
            background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;  
        }
        .likemenu2:focus{
            position: relative;
            font-size : 16px;
            background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    .allplats{
        margin: 0 10px ; 
            .cont{
                overflow: hidden;
            }
            @keyframes fadein {
                0% {
                    top: 45px;
                    opacity:0;
                }
                70% {
                    top: 0px;
                    opacity:0.5;
                }
                100%{
                    opacity: 1;
                }
            }  
            .delay1{
                animation: fadein 1s  ;
                animation-delay: 0.1s;
                
            } 
            .delay2{
                animation: fadein 1s ;
                animation-delay:  0.2s; 
            }
            .delay3{
                animation: fadein 1s ;
                animation-delay:  0.3s;
            }
            .barreverte{   
                margin-right: 95%;
                color: transparent;
                background-color: $color-tertiary;  
            }
            .plats{
            margin: 10px 0;    
            padding: 10px;
            background-color: white;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            box-shadow: 0px 0px 5px lightgray;
            position: relative;
            }
            h4{
                margin: 25px 0;   
            }
            h5{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            } 
            .validationplat{
                position: absolute;
                background-color: $color-tertiary;
                align-self: center;
                padding: 19px;
                border-radius: 0 15px 15px 0;
                left: 93%;   
            }
            .validationplat:hover{               
            }
    }   
}
