.commander{
    padding: 40px 0px;
    text-align: center;
    a{     
        width: 100%;
        font-size: 14px;
        color: #faf8f8;
        padding: 12px 35px;
        background: linear-gradient(0deg, #9356DC, #FF79DA);
        border-radius: 25px;
    }
} 