nav{
    margin-left: 15px;
    h1{
        margin: 30px  0;
    }
    li{
        display:flex;
        align-items: center;
        gap:5%;
        flex-basis: 100%;
        margin: 15px;
        height: 70px;
        background-color: #fafafa;
        font-size: 14px;
        border-radius: 25px;
        box-shadow: 0px 3px 6px rgb(167, 165, 165);
        &.carterose{
            background: #f5edff ;
        }
        .iconegray{
            color: gray;
        }
        .iconeviolet{
            color: $color-primary;
        }
        .numero{
            height: 25px;
            width: 25px;
            min-width: 25px;
            background: #9356DC;
            border-radius: 25px;
            margin-left: -12px;
            p{
                width: 100%;
                text-align: center;
                padding-top: 4px;
                color: #fafafa;
            }
            

        }
    }
}